{% extends "base.html" %} 

{% block body %}
<a class="btn btn-primary" href="/" role="button" style="margin: 16px 0px">
  Home
</a>
<h2>Cadastrar Produto</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{form.name.id_for_label}}" style="margin-bottom: 8px"
      >Nome:
    </label>
    {{form.name}}
  </div>
  <input
    class="btn btn-primary"
    type="submit"
    value="Enviar"
    style="margin-top: 16px"
  />
</form>
{% endblock %}
