{% extends "base.html" %} {% block body %}
<a class="btn btn-primary" href="/" role="button" style="margin: 16px 0px">
  Home
</a>
<h2>Cadastrar Compra</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{form.product.id_for_label}}" style="margin: 8px 0px"
      >Produto:
    </label>
    {{form.product}}
    <label for="{{form.price.id_for_label}}" style="margin: 8px 0px"
      >Preco:
    </label>
    {{form.price}}
    <label for="{{form.quantity.id_for_label}}" style="margin: 8px 0px"
      >Quantidade:
    </label>
    {{form.quantity}}
  </div>
  <input
    class="btn btn-primary"
    type="submit"
    value="Enviar"
    style="margin-top: 16px"
  />
</form>
{% endblock %}
