{% extends 'base.html' %} 

{% block body %}
<h2>Opcoes</h2>
<div>
  <a class="btn btn-primary" href="/product_create/" role="button">
    Cadastrar um produto
  </a>
  <a class="btn btn-primary" href="/purchase_create/" role="button">
    Cadastrar uma compra
  </a>
</div>

{% if purchase_list %}
<h2 style="margin: 16px 0px">Lista de compras</h2>

  {% for purchase in purchase_list %}
    <ul class="list-group" style="margin: 16px">
      <li class="list-group-item"><b>Produto:</b> {{purchase.product.name}}</li>
      <li class="list-group-item"><b>Quantidade:</b> {{purchase.quantity}}</li>
      <li class="list-group-item"><b>Preco:</b> R$ {{purchase.price}}</li>
      <li class="list-group-item">
        <b>Preco medio por item:</b> R$ {{purchase.avg_price}}
      </li>
      <li class="list-group-item"><b>Cadastrado em:</b> {{purchase.created}}</li>
    </ul>
  {% endfor %} 

{% else%}
  <h2 style="margin: 16px 0px">Nenhuma compra cadastrada.</h2>
{% endif %} 

{% endblock %}
